<!-- ? This page extends the base templates at TrueNorth/Home/templates/base/users_base_template.html-->
{% extends 'base/maps_base_template.html' %}

<!-- ? Title -->
{% block title %} Explore {% endblock title %}

<!-- ? Body of the page - Start -->
{% block body %}

<!-- ? Card - Start -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                    </p>
                    <a href="/" class="btn btn-outline-dark">view</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">This is a short card.</p>
                    <a href="/" class="btn btn-outline-dark">view</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a
                        natural lead-in to additional content.
                    </p>
                    <a href="/" class="btn btn-outline-dark">view</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                    </p>
                    <a href="/" class="btn btn-outline-dark">view</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ? Card - End -->

{% endblock body %}
<!-- ? Body of the page - End -->
