<!-- ? This page extends the base templates at TrueNorth/Home/templates/base/home_base_template.html-->
{% extends 'base/home_base_template.html' %}

<!-- ? Title -->
{% block title %} Welcome {% endblock title %}

<!-- ? Body of the page - Start -->
{% block body %}
<div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
        <div class="col-md-4">
            {% load static %}
            <img src="{% static 'img/open_source.svg' %}" alt="Hi!" />
            <!-- <img
                src="{% static 'img/open_source.svg' %}"
                class="img-fluid rounded-start"
                alt="..."
            /> -->
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Welcome to TrueNorth</h5>
                <p class="card-text">
                    its a market place for open science and open-source projects
                    and tools
                </p>
                <a class="btn btn-primary" href="/explore/">Get started</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
<!-- ? Body of the page - End -->
